.gpt3__whatgpt3 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: var(--color-footer);
  background: -moz-radial-gradient(
    circle at 6% 0%,
    rgba(27, 120, 222, 1) 0%,
    rgba(16, 51, 88, 1) 13%,
    rgba(3, 43, 85, 1) 86%,
    rgba(7, 81, 162, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle at 6% 0%,
    rgba(27, 120, 222, 1) 0%,
    rgba(16, 51, 88, 1) 13%,
    rgba(3, 43, 85, 1) 86%,
    rgba(7, 81, 162, 1) 100%
  );
  background: -o-radial-gradient(
    circle at 6% 0%,
    rgba(27, 120, 222, 1) 0%,
    rgba(16, 51, 88, 1) 13%,
    rgba(3, 43, 85, 1) 86%,
    rgba(7, 81, 162, 1) 100%
  );
  background: -ms-radial-gradient(
    circle at 6% 0%,
    rgba(27, 120, 222, 1) 0%,
    rgba(16, 51, 88, 1) 13%,
    rgba(3, 43, 85, 1) 86%,
    rgba(7, 81, 162, 1) 100%
  );
  background: radial-gradient(
    circle at 6% 0%,
    rgba(27, 120, 222, 1) 0%,
    rgba(16, 51, 88, 1) 13%,
    rgba(3, 43, 85, 1) 86%,
    rgba(7, 81, 162, 1) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gpt3__whatgpt3-feature {
  display: flex;
}
.gpt3__whatgpt3-feature .gpt3__features-container__feature {
  margin: 0;
}
.gpt3__whatgpt3-feature .gpt3__features-container__feature--text {
  max-width: 700px;
}
.gpt3__whatgpt3-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
}
.gpt3__whatgpt3-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  max-width: 510px;
}
.gpt3__whatgpt3-heading a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
  transition: all 180ms linear;
}
.gpt3__whatgpt3-heading a:hover {
  color: #ff7151;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.gpt3__whatgpt3-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}

.gpt3__whatgpt3-container .gpt3__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

.gpt3__whatgpt3-container .gpt3__features-container__feature--text {
  margin-top: 1px;
}

@media screen and (max-width: 950px) {
  .gpt3__whatgpt3-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }
  .gpt3__whatgpt3-heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .gpt3__whatgpt3-feature .gpt3__features-container__feature {
    flex-direction: column;
  }
  .gpt3__whatgpt3-feature .gpt3__features-container__feature--text {
    margin-top: 0;
  }
  .gpt3__whatgpt3-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .section__margin {
    margin: 1rem 1rem !important;
  }
  .gpt3__whatgpt3-heading {
    margin-top: 1.1rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__whatgpt3-container .gpt3__features-container__feature {
    margin: 0;
    min-width: 100%;
  }
}
